body{
    background-color: azure;
}
#nav{
    background-color: black;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

#img{
    padding: 5px;
}
p{
    
    color:white;
     
}

#select{
    width:40px;
    height: 35px;

}

#searchbar{
      height: 35px;
      border: none;
      width: 500px;
      
}
#searchBtn{
       background: gold;
      border: none;
      width:40px ;
      color: #1e3b2e;
      font-weight: 600;
      cursor: pointer;
      transition: 0.2s;
      
      
      gap: 5px;
      font-size: 0.85rem;
}
button:hover {
      background: #e6c68a;
      transform: scale(0.97);
    }
#search{
    display: flex;
    flex-direction: row;
     
}

.language{
    display: flex;
    flex-direction: row;
    align-items: end;
}
#lng-select{
    border: none;
    width: 15px;
    height: 11px;
    background-color: black;
    color: white;
    padding-top:5px;
}
#en{
    color: white;
    padding-left: 5px;
}
.sign{
    color: white;
    display: flex;
    flex-direction: column;
    gap:0;
}

.sign span{
     margin: 0;
    padding: 0;
    line-height: 1;
}
.hello{
    font-size: small;
}

.sel{
    border: none;
    width: 15px;
    height: 11px;
    background-color: black;
    color: white;
    padding-top:5px;
}

.op{
    font-weight: bold;
}

.nav-ul  {
   
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(46, 49, 53);
    color: white;
    height: 30px;
    align-items: center;
}
.box{
    text-decoration: none;
    color: white;

}

.box:hover{
  
    cursor: pointer;
     border: 2px solid white;
}

#prime{
    display: flex;
    flex-direction: row;
    align-items: end;
}
#head{
    background-color: rgb(46, 49, 53);
}


.hover-btn:hover{

    cursor: pointer;
     border: 2px solid white;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #eee;
}

/* Main slider area */
.slider-container {
   height: 430px;
    position: relative;
    overflow: hidden;
    padding: 10px 15px;
}

/* Row containing all cards */
.slider-track {
    display: flex;
    gap: 10px;
    transition: transform 0.5s ease;
}

/* Individual card */
.card {
    min-width: 262px;
    height: 419px;
    border-radius: 15px;
    overflow: hidden;
    flex-shrink: 0;
    box-shadow:0 5px 10px rgba(1, 1, 1, 0.2); 
}

/* Image inside card */
.card img {
    width: 262px;
    height: 419px;
    object-fit: fill;
}

/* Buttons */
.next,
.prev {
    position: absolute;
    top: 30%;
    transform: translateY(-10%);

    width: 55px;
    height: 120px;

    border: none;
    background: white;

    font-size: 35px;
    cursor: pointer;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.next {
    right: 0;
    border-radius: 15px 0 0 15px;
}

.prev {
    left: 0;
    border-radius: 0 15px 15px 0;
}


#container-product{
    display: flex;
    flex-direction: row;
    height: 550px;
  

}
.box1{
    height: 493px;
    width: 340px;
    border: none;
    border-radius: 0.30rem;
    margin: 8px;
    box-shadow:0 5px 10px rgba(1, 1, 1, 0.2); 
    padding: 12px;
}


.header{
    display: flex;
    
    justify-content: space-between;
}
.header h2{
    font-size:larger;
}

.products{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 42px;
}

.card1{
    width: 140px;
    height: 203px;
    overflow: hidden;
    text-align: center;
    border-radius: .50rem;
}

.card1 img{
    width: 140px;
    height: 156px;
    object-fit: cover;
    border-radius: .50rem;
    display: block;

}

.card1 p{
    color: black;
    font-size: small;
}

.card1:hover{
    box-shadow: 2px 2px 5px black;
}